{% load static %}
<!DOCTYPE html>
<html>


<head>
    <meta charset='utf-8'>
    <title>REST API</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/style.css" %}'>
    <script src='{% static "js/script.js" %}'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</head>

<body>
    <div class="main-block">
        <div class="panel-area">
            <h1>Что вы хотите?</h1>
            <div class="panel">
                <p><a class="btn btn-outline-primary btn-lg" href="{% url 'create' %}">Создать</a></p>
                <p><a class="btn btn-outline-success btn-lg" href="{% url 'read' %}">Просмотреть</a></p>
                <p><a class="btn btn-outline-warning btn-lg" href="{% url 'update' %}">Изменить</a></p>
                <p><a class="btn btn-outline-danger btn-lg" href="{% url 'delete' %}">Удалить</a></p>
            </div>
        </div>
    </div>
</body>


</html>